<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="top.parak.springlearn.service.UserService"
          p:name="KHighness" init-method="initMethod" destroy-method="destroyMethod"></bean>

    <bean class="top.parak.springlearn.life.KHighnessAwareBeanPostProcessor"></bean>

</beans>
